*{
    padding: 5px;
}
header {
    background: bisque;
}

footer {
    background: cadetblue;
}

.ts-weekend {
    background: darkgray;
}

.ts-jsx-counter {
    background: azure;
}

.ts-counter {
    background: floralwhite;
}

button.t-button {
    background: indigo;
    color: white;
}

.t-filters {
    background-color: gainsboro;
}

.t-navigation {
    background-color: goldenrod;
}